<!DOCTYPE HTML>
<html>

<head>
  <title>Raspberry Arduino Project</title>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script type="text/javascript" src="https://cdn.plot.ly/plotly-2.30.0.min.js"></script>
  <script type="text/javascript"
    src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script>

  <script type="text/javascript">
    $(function () {
      $("#tabs").tabs({
        event: "click"
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function () {

      var x = new Array();
      var y1 = new Array();
      var y2 = new Array();
      var count = new Array();
      var light = new Array();
      var trace1;
      var trace2;
      var layout = {
        title: 'Data',
        xaxis: {
          title: 'count',
        },
        yaxis: {
          title: 'light',
        }
      };

      // Plot
      Plotly.newPlot($('#myPlot')[0], [], layout);

      // Gauge
      var gauge = new RadialGauge({
        renderTo: 'myGauge',
        width: 300,
        height: 300,
        units: "light",
        value: 0,
        minValue: 0,
        maxValue: 1024,
        majorTicks: [
          "0",
          "256",
          "512",
          "768",
          "1024"
        ],
        minorTicks: 5,
        strokeTicks: true,
        highlights: [
          {
            "from": 0,
            "to": 1,
            "color": "rgba(50, 50, 50, .50)"
          }
        ],
        colorPlate: "#ffff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
        needleCircleSize: 7,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 500,
        animationRule: "linear"
      });

      gauge.draw();


      // DB Plot
      document.getElementById("index-db").addEventListener('input', function (e) {

        $.ajax({
          type: "GET",
          url: "/db/" + e.target.value,
          success: function (data) {
            data = JSON.parse(data);
            n = Object.keys(data).length;
            countl = [];
            lightl = [];
            for (var i = 0; i < n; i++) {
              countl.push(data[i].count);
              lightl.push(data[i].light);
            }
            let trace = [
              {
                x: countl,
                y: lightl,
              }];
            document.getElementById("error-db").style.display = 'none';
            Plotly.newPlot($('#myDbPlot')[0], trace, layout);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            document.getElementById("error-db").style.display = 'block';
          }
        });

      });

      // File Plot
      document.getElementById("index-file").addEventListener('input', function (e) {

        $.ajax({
          type: "GET",
          url: "/file/" + e.target.value,
          success: function (data) {
            data = JSON.parse(data);
            n = Object.keys(data).length;
            countl = [];
            lightl = [];
            for (var i = 0; i < n; i++) {
              countl.push(data[i].count);
              lightl.push(data[i].light);
            }
            let trace = [
              {
                x: countl,
                y: lightl,
              }];
            document.getElementById("error-file").style.display = 'none';
            Plotly.newPlot($('#myFilePlot')[0], trace, layout);
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
            document.getElementById("error-file").style.display = 'block';
          }
        });

      });

      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function () {
        socket.emit('my_event', { data: 'I\'m connected!', value: 1 });
      });

      socket.on('my_response', function (msg) {
        $('#log').append('Received #' + msg.count + ': ' + msg.data + '<br>').html();

        // Plot
        if ('light' in msg) {
          count.push(parseFloat(msg.count));
          light.push(parseFloat(msg.light));
          //y2.push(parseFloat(msg.y2));
          trace1 = {
            x: count,
            y: light,
            // name: 'light'
          };
          // trace2 = {
          //     x: x,
          //     y: y2,
          //     name: 'cos'
          // };
          var traces = new Array();
          traces.push(trace1);
          // traces.push(trace1, trace2);
          Plotly.newPlot($('#myPlot')[0], traces, layout);
        };

        // Gauge
        if (msg.light) {
          gauge.value = msg.light;
        }

      });
      $('form#emit').submit(function (event) {
        socket.emit('my_event', { value: $('#emit_value').val() });
        return false;
      });
      $('form#disconnect').submit(function (event) {
        socket.emit('disconnect_request');
        return false;
      });
      $('form#start').submit(function (event) {
        socket.emit('start');
        return false;
      });
      $('form#stop').submit(function (event) {
        socket.emit('stop');
        return false;
      });
    });

  </script>
</head>

<body>
  <div id="tabs">
    <ul>
      <li style="margin: 10px;">Raspberry Arduino Project</h2>
      <li><a href="#tabs-1">Home</a></li>
      <li><a href="#tabs-2">DB Plot</a></li>
      <li><a href="#tabs-3">File Plot</a></li>
    </ul>

    <div id="tabs-1">
      <div id="control" style="display: flex; flex-direction: row;">
        <form id="emit" method="POST" action='#' style="display: none;">
          <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
          <input type="submit" value="Send">
        </form>
        <form id="start" method="POST" action="#" style="margin: 0px 5px;">
          <input type="submit" value="Start">
        </form>
        <form id="stop" method="POST" action="#" style="margin: 0px 5px;">
          <input type="submit" value="Stop">
        </form>
        <form id="disconnect" method="POST" action="#" style="margin: 0px 5px;">
          <input type="submit" value="Disconnect">
        </form>
      </div>
      <div style="display: flex; flex-direction: row; align-items: center;">
        <div id="myPlot" style="width:100%;max-width:775px;height:400px"></div>
        <canvas id="myGauge"></canvas>
      </div>
      <div id="log" style="height: 185px; overflow: auto;">
        <h3>Message Log</h3>
      </div>
    </div>

    <div id="tabs-2">
      <label for="index-db">Data index:</label>
      <input type="text" id="index-db" />
      <p id="error-db" style="color: red; display: none;">ERROR: Index does not exist in the database.</p>
      <div id="myDbPlot" style="width:100%;max-width:775px;height:400px"></div>
    </div>

    <div id="tabs-3">
      <label for="index-file">Data index:</label>
      <input type="text" id="index-file" />
      <p id="error-file" style="color: red; display: none;">ERROR: Index does not exist in the file.</p>
      <div id="myFilePlot" style="width:100%;max-width:775px;height:400px"></div>
    </div>
  </div>

</body>

</html>